
<!-- 头部 -->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
	
	<meta charset="utf-8"/>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<title>危废智能监管平台</title>
	<meta name="description" content="index"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

	<!-- bootstrap & fontawesome -->
	<link rel="stylesheet" href="/bootstrap/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/chosen/chosen.min.css"/>

	<!-- ace styles -->
	<link rel="stylesheet" href="/ace/css/ace.min.css" id="main-ace-style"/>
	<link rel="stylesheet" href="/ace/css/ace-skins.min.css"/>
	<link rel="stylesheet" href="/ace/css/ace-rtl.min.css"/>
	<link rel="stylesheet" href="/ztree/metro.css"/>
	<link rel="stylesheet" href="/validate/css/validform.css"/>
	<link rel="stylesheet" href="/css/custom.css"/>

	<!--[if !IE]> -->
	<script src="/jquery/jquery.js"></script>
	<!-- <![endif]-->
	<!-- ace settings handler -->
	<script src="/ace/js/ace-extra.min.js"></script>
</head>

<body class="no-skin" id="body-content">

<!-- 主体 -->
<div class="main-container" id="main-container">

	<div class="main-content">


		<div class="page-content">

			<div class="page-header">
				<h1> 角色管理 </h1>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div id="fill-main-content" style="height:100%">
						<div class="xuboxPageHtml" id="xboxTest" style="overflow-y: auto; height: 390px;"><div class="layer">
							<div class="profile-user-info profile-user-info-striped">
								<div class="profile-info-row">
									<div class="profile-info-name">角色名称</div>
									<div class="profile-info-value">
										测试运输方普通人员
									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name">归属机构</div>
									<div class="profile-info-value">
										&nbsp;(hawaste运输方测试机构)
									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name">数据范围</div>
									<div class="profile-info-value">
										仅本人数据
									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name">分配的人员</div>
									<div class="profile-info-value">
										<a href="../user/user-detail.html" title="<运输方测试账号2>详情" >运输方测试账号2

										</a>
									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name">拥有的权限</div>
									<div class="profile-info-value">
										个人中心
										，
										我的资料
										，
										单位管理
										，
										单位信息
										，
										电子台账

									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name">创建者</div>
									<div class="profile-info-value">
										2,超级管理员
									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name">创建时间</div>
									<div class="profile-info-value">
										2017-03-16 14:22:55.0
									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name">更新者</div>
									<div class="profile-info-value">

									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name">更新时间</div>
									<div class="profile-info-value">
										2017-03-16 14:22:55.0
									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name">描述</div>
									<div class="profile-info-value">

									</div>
								</div>
							</div>
						</div></div>
					</div>

				</div>
			</div>
		</div><!-- /.page-content -->

	</div><!-- /.main-content -->

	<a href="javascript:void(0);" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"  style="z-index:1111">
		<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
	</a>
</div><!-- /.main-container -->

<!-- 底部 -->
<!-- basic scripts -->

<script src="/bootstrap/bootstrap.min.js"></script>
<!-- ace scripts -->
<script src="/ace/js/ace-elements.min.js"></script>
<script src="/ace/js/ace.min.js"></script>

<script type="text/javascript">
	$(function(){


	})


</script>

<!-- 引入其他js -->
<script src="/js/history.js"></script>
<script type="text/javascript" src="/layer/layer.js"></script>
<script type="text/javascript" src="/js/spin.min.js"></script>
<script type="text/javascript" src="/ztree/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript" src="/js/jquery.autosize.min.js"></script>
<script type="text/javascript" src="/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/validate/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" src="/js/jquery.form.js"></script>
<script type="text/javascript" src="/js/bootstrap-contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="/js/public.js"></script>
<script type="text/javascript" src="/vue/vue.js"></script>
<script type="text/javascript" src="/vue/axios.js"></script>

<!--<script type="text/javascript" src="/js/office/office.js"></script>-->


</body>
</html>
