

<div class="sidebar-shortcuts" id="sidebar-shortcuts">
    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        <button class="btn btn-success">
            <i class="ace-icon fa fa-signal"></i>
        </button>

        <button class="btn btn-info">
            <i class="ace-icon fa fa-pencil"></i>
        </button>

        <button class="btn btn-warning">
            <i class="ace-icon fa fa-users"></i>
        </button>

        <button class="btn btn-danger">
            <i class="ace-icon fa fa-cogs"></i>
        </button>
    </div>

    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
        <span class="btn btn-success"></span>

        <span class="btn btn-info"></span>

        <span class="btn btn-warning"></span>

        <span class="btn btn-danger"></span>
    </div>
</div><!-- /.sidebar-shortcuts -->

<ul class="nav nav-list" id="sidebar-menu">
    <li data-level="1">

        <a
                href="javascript:void(0);" class="dropdown-toggle"
                haschild="true"
        >
            <i class="menu-icon fa fa-user"></i>
            <span class="menu-text"
                  style="vertical-align: middle;"
            > 个人中心 </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>

        <ul class="submenu nav-hide" style="display:none;">
            <li data-level="2">

                <a
                        href="/manager/userCenter/userCenter.html"
                        id="menu_manageruserCenter"
                        haschild="false"
                >
                    <i class="menu-icon fa fa-file-o"></i>
                    <span class="menu-text"
                    > 我的资料 </span>
                </a>
                <b class="arrow"></b>

            </li>
        </ul>
    </li>
    <li data-level="1">

        <a
                href="javascript:void(0);" class="dropdown-toggle"
                haschild="true"
        >
            <i class="menu-icon fa fa-lastfm"></i>
            <span class="menu-text"
                  style="vertical-align: middle;"
            > 单位管理 </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>

        <ul class="submenu nav-hide" style="display:none;">
            <li data-level="2">

                <a
                        href="/manager/office/office-detail.html"
                        id="menu_managercompanydetail"
                        haschild="false"
                >
                    <i class="menu-icon "></i>
                    <span class="menu-text"
                    > 单位信息 </span>
                </a>
                <b class="arrow"></b>

            </li>
            <li data-level="2">

                <a
                        href="/manager/user/user.html"
                        id="menu_managercompanyaccounts"
                        haschild="false"
                >
                    <i class="menu-icon "></i>
                    <span class="menu-text"
                    > 单位账号 </span>
                </a>
                <b class="arrow"></b>

            </li>
            <li data-level="2">

                <a
                        href="/manager/work/company/work.html"
                        id="menu_managercompanywork"
                        haschild="false"
                >
                    <i class="menu-icon "></i>
                    <span class="menu-text"
                    > 电子台账 </span>
                </a>
                <b class="arrow"></b>

            </li>
        </ul>
    </li>
    <li data-level="1">

        <a
                href="javascript:void(0);" class="dropdown-toggle"
                haschild="true"
        >
            <i class="menu-icon fa fa-puzzle-piece"></i>
            <span class="menu-text"
                  style="vertical-align: middle;"
            > 业务管理 </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>

        <ul class="submenu nav-hide" style="display:none;">
            <li data-level="2">

                <a
                        href="/manager/work/admin/work.html"
                        id="menu_manageradminwork"
                        haschild="false"
                >
                    <i class="menu-icon "></i>
                    <span class="menu-text"
                    > 电子台账 </span>
                </a>
                <b class="arrow"></b>

            </li>
            <li data-level="2">

                <a
                        href="/manager/qualification/qualification.html"
                        id="menu_managerqualificationindex"
                        haschild="false"
                >
                    <i class="menu-icon "></i>
                    <span class="menu-text"
                    > 资质审核 </span>
                </a>
                <b class="arrow"></b>

            </li>
            <li data-level="2">

                <a
                        href="/manager/demand/demand.html"
                        id="menu_managerdemandindex"
                        haschild="false"
                >
                    <i class="menu-icon "></i>
                    <span class="menu-text"
                    > 服务需求 </span>
                </a>
                <b class="arrow"></b>

            </li>
            <li data-level="2">

                <a
                        href="/manager/examine/examine.html"
                        id="menu_managerexamineindex"
                        haschild="false"
                >
                    <i class="menu-icon "></i>
                    <span class="menu-text"
                    > 考核管理 </span>
                </a>
                <b class="arrow"></b>

            </li>
            <li data-level="2">

                <a
                        href="/manager/app/app.html"
                        id="menu_managerappindex"
                        haschild="false"
                >
                    <i class="menu-icon "></i>
                    <span class="menu-text"
                    > APP管理 </span>
                </a>
                <b class="arrow"></b>

            </li>
            <li data-level="2">

                <a
                        href="/manager/statute/statute.html"
                        id="menu_managerstatuteindex"
                        haschild="false"
                >
                    <i class="menu-icon fa fa-bolt"></i>
                    <span class="menu-text"
                    > 法律法规 </span>
                </a>
                <b class="arrow"></b>

            </li>
        </ul>
    </li>
    <li data-level="1">

        <a
                href="javascript:void(0);" class="dropdown-toggle"
                haschild="true"
        >
            <i class="menu-icon fa fa-group"></i>
            <span class="menu-text"
                  style="vertical-align: middle;"
            > 机构用户 </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>

        <ul class="submenu nav-hide" style="display:none;">
            <li data-level="2">

                <a
                        href="/manager/area/area.html"
                        id="menu_managerarea"
                        haschild="false"
                >
                    <i class="menu-icon fa fa-globe"></i>
                    <span class="menu-text"
                    > 区域管理 </span>
                </a>
                <b class="arrow"></b>

            </li>
            <li data-level="2">

                <a
                        href="/manager/office/office.html"
                        id="menu_manageroffice"
                        haschild="false"
                >
                    <i class="menu-icon fa fa-sitemap"></i>
                    <span class="menu-text"
                    > 机构管理 </span>
                </a>
                <b class="arrow"></b>

            </li>
            <li data-level="2">

                <a
                        href="/manager/user/user-list.html"
                        id="menu_managersysuser"
                        haschild="false"
                >
                    <i class="menu-icon fa fa-user"></i>
                    <span class="menu-text"
                    > 用户管理 </span>
                </a>
                <b class="arrow"></b>

            </li>
            <li data-level="2">

                <a
                        href="/manager/role/role.html"
                        id="menu_managerrole"
                        haschild="false"
                >
                    <i class="menu-icon fa fa-graduation-cap"></i>
                    <span class="menu-text"
                    > 角色管理 </span>
                </a>
                <b class="arrow"></b>

            </li>
        </ul>
    </li>
    <li data-level="1">

        <a
                href="javascript:void(0);" class="dropdown-toggle"
                haschild="true"
        >
            <i class="menu-icon fa fa-cogs"></i>
            <span class="menu-text"
                  style="vertical-align: middle;"
            > 系统管理 </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>

        <ul class="submenu nav-hide" style="display:none;">
            <li data-level="2">

                <a
                        href="/manager/menu/menu.html"
                        id="menu_managermenu"
                        haschild="false"
                >
                    <i class="menu-icon fa fa-list"></i>
                    <span class="menu-text"
                    > 菜单配置 </span>
                </a>
                <b class="arrow"></b>

            </li>
            <li data-level="2">

                <a
                        href="/manager/dict/dict.html"
                        id="menu_managerdict"
                        haschild="false"
                >
                    <i class="menu-icon fa fa-calculator"></i>
                    <span class="menu-text"
                    > 字典管理 </span>
                </a>
                <b class="arrow"></b>

            </li>
            <li data-level="2">

                <a
                        href="/manager/log/log.html"
                        id="menu_managersyslog"
                        haschild="false"
                >
                    <i class="menu-icon fa fa-copy"></i>
                    <span class="menu-text"
                    > 日志查询 </span>
                </a>
                <b class="arrow"></b>

            </li>
        </ul>
    </li>
    <li data-level="1">

        <a
                href="javascript:void(0);" class="dropdown-toggle"
                haschild="true"
        >
            <i class="menu-icon fa fa-binoculars"></i>
            <span class="menu-text"
                  style="vertical-align: middle;"
            > 系统监控 </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>

        <ul class="submenu nav-hide" style="display:none;">

            <li data-level="2">

                <a
                        href="/manager/druid/druid.html"
                        id="menu_managermonitorjvm"
                        haschild="false"
                >
                    <i class="menu-icon fa fa-flash"></i>
                    <span class="menu-text"
                    > 性能监控 </span>
                </a>
                <b class="arrow"></b>

            </li>
        </ul>
    </li>
</ul><!-- /.nav-list -->
<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
    <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>

