
<!-- 头部 -->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8" />
	<meta name="renderer" content="webkit">

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>危废智能监管平台</title>

	<meta name="description" content="index" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

	<!-- bootstrap & fontawesome -->
	<link rel="stylesheet" href="../../../static/bootstrap/bootstrap.min.css" />
	<link rel="stylesheet" href="../../../static/css/font-awesome.min.css" />

	<link rel="stylesheet" href="../../../static/chosen/chosen.min.css" />

	<!-- ace styles -->
	<link rel="stylesheet" href="../../../static/ace/css/ace.min.css" id="main-ace-style" />

	<!--[if lte IE 9]>
	<link rel="stylesheet" href="../../../static/ace/css/ace-part2.min.css" />
	<![endif]-->
	<link rel="stylesheet" href="../../../static/ace/css/ace-skins.min.css" />
	<link rel="stylesheet" href="../../../static/ace/css/ace-rtl.min.css" />

	<!--[if lte IE 9]>
	<link rel="stylesheet" href="../../../static/ace/css/ace-ie.min.css" />
	<![endif]-->

	<link rel="stylesheet" href="../../../static/ztree/metro.css" />
	<link rel="stylesheet" href="../../../static/validate/css/validform.css" />
	<link rel="stylesheet" href="../../../static/css/custom.css" />

	<!--[if !IE]> -->
	<script src="../../../static/jquery/jquery.js"></script>
	<!-- <![endif]-->

	<!--[if IE]>
	<script src="../../../static/jquery/jquery-1.11.1.min.js"></script>
	<![endif]-->


	<!-- ace settings handler -->
	<script src="../../../static/ace/js/ace-extra.min.js"></script>

	<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

	<!--[if lte IE 8]>
	<script src="../../../static/bootstrap/html5shiv.min.js"></script>
	<script src="../../../static/bootstrap/respond.min.js"></script>
	<script>var ie8 = "ie8";</script>
	<![endif]-->
</head>

<body class="no-skin" id="body-content">

<!-- 主体 -->
<div class="main-container" id="main-container">





	<div class="main-content">
		<div class="breadcrumbs" id="breadcrumbs">


			<ul class="tab" id="breadcrumb">
				<!-- <li class="active" >
               菜单配置<i class="fa fa-times close"></i>
               </li>  -->
			</ul><!-- /.breadcrumb -->
			<div id="tab-menu">
				<ul class="dropdown-menu dropdown-caret" style="min-width: 0px;">
					<li><a href="javascript:void(0);" data-right-menu="all_close">全部关闭</a></li>
					<li><a href="javascript:void(0);" data-right-menu="other_close">关闭其他</a></li>
				</ul>
			</div>
		</div>

		<div class="page-content">
			<div class="ace-settings-container" id="ace-settings-container">
				<div class="btn btn-app btn-xs btn-warning ace-settings-btn"
					 id="ace-settings-btn">
					<i class="ace-icon fa fa-cog bigger-150"></i>
				</div>

				<div class="ace-settings-box clearfix" id="ace-settings-box">
					<div class="pull-left width-50">
						<div class="ace-settings-item">
							<div class="pull-left">
								<select id="skin-colorpicker" class="hide">
									<option data-skin="no-skin" value="#438EB9">#438EB9</option>
									<option data-skin="skin-1" value="#222A2D">#222A2D</option>
									<option data-skin="skin-2" value="#C6487E">#C6487E</option>
									<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
								</select>
							</div>
							<span>&nbsp; 皮肤</span>
						</div>

						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2"
								   id="ace-settings-navbar" /> <label class="lbl"
																	  for="ace-settings-navbar"> 固定页头</label>
						</div>

						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2"
								   id="ace-settings-sidebar" /> <label class="lbl"
																	   for="ace-settings-sidebar"> 固定导航菜单</label>
						</div>

						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2"
								   id="ace-settings-breadcrumbs" /> <label class="lbl"
																		   for="ace-settings-breadcrumbs"> 固定导航条</label>
						</div>

						<!-- <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2"
                                id="ace-settings-rtl" /> <label class="lbl" for="ace-settings-rtl">
                                Right To Left (rtl)</label>
                        </div> -->

						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2"
								   id="ace-settings-add-container" /> <label class="lbl"
																			 for="ace-settings-add-container"> 固定宽度
						</label>
						</div>
					</div>
					<!-- /.pull-left -->

					<div class="pull-left width-50">
						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2"
								   id="ace-settings-hover" /> <label class="lbl"
																	 for="ace-settings-hover"> 滑动式菜单</label>
						</div>

						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2"
								   id="ace-settings-compact" /> <label class="lbl"
																	   for="ace-settings-compact"> 紧凑式菜单</label>
						</div>

						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2"
								   id="ace-settings-highlight" /> <label class="lbl"
																		 for="ace-settings-highlight"> 高亮选中</label>
						</div>
					</div>
					<!-- /.pull-left -->
				</div>
				<!-- /.ace-settings-box -->
			</div>
			<!-- /.ace-settings-container -->
			<div class="page-header">
				<h1> 编辑 </h1>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div id="fill-main-content" style="height:100%">
						<div class="xuboxPageHtml" id="xboxTest" style="overflow-y: auto; height: 266px;"><div class="layer">
							<form name="FormPost" id="dict-save" class="FormGrid" method="post" action="dict/save">

								<input type="hidden" value="1" name="id">
								<table class="EditTable" width="100%">
									<tbody>
									<tr style="display: none;">
										<td class="ui-state-error" id="FormError"></td>
									</tr>
									<tr class="FormData">
										<td class="CaptionTD">标签</td>
										<td class="DataTD width-100"><input type="text" name="label" datatype="*" nullmsg="请输入标签！" value="正常"></td>
									</tr>
									<tr class="FormData">
										<td class="CaptionTD">键值</td>
										<td class="DataTD width-100"><input type="text" name="value" datatype="*" nullmsg="请输入键值！" value="0"></td>
									</tr>
									<tr class="FormData">
										<td class="CaptionTD">类型</td>
										<td class="DataTD width-100">
											<input type="text" value="del_flag" name="type">
										</td>
									</tr>
									<tr class="FormData">
										<td class="CaptionTD">排序</td>
										<td class="DataTD">
											<input type="text" value="10" name="sort">
										</td>
									</tr>
									<tr class="FormData">
										<td class="CaptionTD">描述</td>
										<td class="DataTD">
											<textarea name="description" class="autosize-transition form-control " style="resize: none; overflow: hidden; word-wrap: break-word; height: 52px;">删除标记</textarea>
										</td>
									</tr>
									</tbody>
								</table>
							</form>
						</div>

							<div class="width-100 clearfix" tag-save-btn="" style="bottom: -36px; left: 0px; position: absolute;">
	<span class="btn btn-primary btn-sm bigger-110 width-50  pull-left" id="dict-save-save">
		<i class="ace-icon fa fa-floppy-o align-top bigger-125"></i> 确 定
	</span>
								<span class="btn btn-yellow btn-sm bigger-110 width-50 pull-right" id="dict-save-cancel">
		<i class="ace-icon fa fa-times align-top  bigger-125"></i> 取 消
	</span>
							</div>

									
						</div>
					</div>

				</div>
			</div>
		</div><!-- /.page-content -->

	</div><!-- /.main-content -->

	<a href="javascript:void(0);" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"  style="z-index:1111">
		<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
	</a>
</div><!-- /.main-container -->

<!-- 底部 -->
<!-- basic scripts -->


<script src="../../../static/bootstrap/bootstrap.min.js"></script>

<!-- ace scripts -->
<script src="../../../static/ace/js/ace-elements.min.js"></script>
<script src="../../../static/ace/js/ace.min.js"></script>

<script type="text/javascript">
    var ctxPath = "../../..";
    window.onload=function(){
        
    };

    try{ace.settings.check('main-container' , 'fixed')}catch(e){}

    try{ace.settings.check('navbar' , 'fixed')}catch(e){}

    try{ace.settings.check('sidebar' , 'fixed')}catch(e){}

    try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}

    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}

	//描述框自动扩张高度
	$('textarea[class*=autosize]').autosize({append: "\n"});

</script>

<!-- 引入其他js -->
<script src="../../../static/js/history.js"></script>
<script type="text/javascript" src="../../../static/layer/layer.js"></script>
<script type="text/javascript" src="../../../static/js/spin.min.js"></script>
<script type="text/javascript" src="../../../static/js/jquery.autosize.min.js"></script>
<script type="text/javascript" src="../../../static/validate/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" src="../../../static/js/jquery.form.js"></script>
<script type="text/javascript" src="../../../static/js/bootstrap-contextmenu.js"></script>
<script type="text/javascript" src="../../../static/js/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="../../../static/js/public.js"></script>


</body>
</html>
