<!-- 头部 -->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>危废智能监管平台</title>
    <meta name="description" content="index"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/chosen/chosen.min.css"/>

    <!-- ace styles -->
    <link rel="stylesheet" href="/ace/css/ace.min.css" id="main-ace-style"/>
    <link rel="stylesheet" href="/ace/css/ace-skins.min.css"/>
    <link rel="stylesheet" href="/ace/css/ace-rtl.min.css"/>
    <link rel="stylesheet" href="/ztree/metro.css"/>
    <link rel="stylesheet" href="/validate/css/validform.css"/>
    <link rel="stylesheet" href="/css/custom.css"/>

    <!--[if !IE]> -->
    <script src="/jquery/jquery.js"></script>
    <!-- <![endif]-->
    <!-- ace settings handler -->
    <script src="/ace/js/ace-extra.min.js"></script>
</head>

<body class="no-skin" id="body-content">
<!-- 顶部条 -->
<div id="navbar" class="navbar navbar-default">



</div>
<!-- 主体 -->
<div class="main-container" id="main-container">

    <div id="sidebar" class="sidebar responsive">

    </div>

    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            

            <ul class="tab" id="breadcrumb">
                <!-- <li class="active" >
               菜单配置<i class="fa fa-times close"></i>
               </li>  -->
            </ul><!-- /.breadcrumb -->
            <div id="tab-menu">
                <ul class="dropdown-menu dropdown-caret" style="min-width: 0px;">
                    <li><a href="javascript:void(0);" data-right-menu="all_close">全部关闭</a></li>
                    <li><a href="javascript:void(0);" data-right-menu="other_close">关闭其他</a></li>
                </ul>
            </div>
        </div>

        <div class="page-content">
            <div class="ace-settings-container" id="ace-settings-container">
                <div class="btn btn-app btn-xs btn-warning ace-settings-btn"
                     id="ace-settings-btn">
                    <i class="ace-icon fa fa-cog bigger-150"></i>
                </div>

                <div class="ace-settings-box clearfix" id="ace-settings-box">
                    <div class="pull-left width-50">
                        <div class="ace-settings-item">
                            <div class="pull-left">
                                <select id="skin-colorpicker" class="hide">
                                    <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                    <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                    <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                    <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                </select>
                            </div>
                            <span>&nbsp; 皮肤</span>
                        </div>

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2"
                                   id="ace-settings-navbar"/> <label class="lbl"
                                                                     for="ace-settings-navbar"> 固定页头</label>
                        </div>

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2"
                                   id="ace-settings-sidebar"/> <label class="lbl"
                                                                      for="ace-settings-sidebar"> 固定导航菜单</label>
                        </div>

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2"
                                   id="ace-settings-breadcrumbs"/> <label class="lbl"
                                                                          for="ace-settings-breadcrumbs"> 固定导航条</label>
                        </div>

                        <!-- <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2"
                                id="ace-settings-rtl" /> <label class="lbl" for="ace-settings-rtl">
                                Right To Left (rtl)</label>
                        </div> -->

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2"
                                   id="ace-settings-add-container"/> <label class="lbl"
                                                                            for="ace-settings-add-container"> 固定宽度
                        </label>
                        </div>
                    </div>
                    <!-- /.pull-left -->

                    <div class="pull-left width-50">
                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2"
                                   id="ace-settings-hover"/> <label class="lbl"
                                                                    for="ace-settings-hover"> 滑动式菜单</label>
                        </div>

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2"
                                   id="ace-settings-compact"/> <label class="lbl"
                                                                      for="ace-settings-compact"> 紧凑式菜单</label>
                        </div>

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2"
                                   id="ace-settings-highlight"/> <label class="lbl"
                                                                        for="ace-settings-highlight"> 高亮选中</label>
                        </div>
                    </div>
                    <!-- /.pull-left -->
                </div>
                <!-- /.ace-settings-box -->
            </div>
            <!-- /.ace-settings-container -->
            <div class="page-header">
                <h1>Welcome</h1>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="fill-main-content" style="height:100%">
                        <h1>欢迎使用危废智能监管平台</h1>
                    </div>

                </div>
            </div>
        </div><!-- /.page-content -->

    </div><!-- /.main-content -->

    <a href="javascript:void(0);" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse" style="z-index:1111">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->
<!-- 底部 -->
<!-- basic scripts -->


<script src="/bootstrap/bootstrap.min.js"></script>
<!-- ace scripts -->
<script src="/ace/js/ace-elements.min.js"></script>
<script src="/ace/js/ace.min.js"></script>
<script type="text/javascript">
    $(function () {
		/*jquery的load方法，异步请求访问后台，通过PageController的三级路径module3方法跳转到对应页面，返回页面放入到对应div中*/
		$("#navbar").load("/manager/common/navbar.html");
		$("#sidebar").load("/manager/common/sidebar.html");
	})
</script>
<!-- 引入其他js -->
<script src="/js/history.js"></script>
<script type="text/javascript" src="/layer/layer.js"></script>
<script type="text/javascript" src="/js/spin.min.js"></script>
<script type="text/javascript" src="/ztree/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript" src="/js/jquery.autosize.min.js"></script>
<script type="text/javascript" src="/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/validate/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" src="/js/jquery.form.js"></script>
<script type="text/javascript" src="/js/bootstrap-contextmenu.js"></script>
<script type="text/javascript" src="/js/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="/js/public.js"></script>
<script type="text/javascript" src="/vue/vue.js"></script>
<script type="text/javascript" src="/vue/axios.js"></script>

<!--<script type="text/javascript" src="/js/user/user.js"></script>-->


</body>
</html>