<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>重庆市危险废物转移联单</title>
<style>
html,body{margin:0; padding:0;}
body{ font-family:Verdana, Geneva, sans-serif; font-size:12px;}
table{margin:0 auto; width:160mm;}
td{height:26px; line-height:26px;text-indent:4px;}
.paging{page-break-after :always;} 
.title{height:45px; line-height:45px; font-size:14px;}
.border_bottom{border-bottom: 2px solid #000;}
.double_border_bottom{border-bottom: 3px solid #000 !important;}
.down_line{border-bottom: 2px solid #696969;}
.no_border_right{border-right:0px !important;}
.main_table{border:2px solid #000;}
.list td{height:26px; line-height:26px; border-bottom:2px solid #000; border-right:2px solid #000;}
.list{ border-top:3px solid #000; }
.list_title{font-size:14px;}
.info2{padding:5px 0;}
.info2 td{height:14px !important; line-height:14px !important;}
</style>
<style type="text/css" media="print">  
.noprint{display : none; }  
</style>
</head>
<body>
<input id="btnPrint" type="button" value="打印" onclick="javascript:window.print();" class="noprint" />
<!-- 第一联 -->
<div class="paging">
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="30" colspan="3" align="center" style="font-size:20px; height:40px; line-height:40px; font-weight:bold;">重庆市危险废物转移联单</td>
  </tr>
  <tr>
    <td width="33%" height="33" valign="bottom">第&nbsp;一&nbsp;联：移出单位</td>
    <td width="33%" align="center" valign="bottom">纸质编号：</td>
    <td width="33%" align="right" valign="bottom">编号：2016082100001</td>
  </tr>
</table>
<table border="0" cellspacing="0" cellpadding="0" class="main_table">
  <tr>
    <td height="33" valign="bottom" class="border_bottom title">第一部分：危险废物移出单位填写</td>
  </tr>
  <tr>
    <td height="33" valign="bottom"><table width="100%" border="0" cellspacing="10" cellpadding="0">
      <tr>
        <td width="75">移出单位：</td>
        <td width="250" class="down_line">重庆市环境保护局</td>
        <td width="10">&nbsp;</td>
        <td width="75" align="right">联系电话：</td>
        <td class="down_line"></td>
      </tr>
      <tr>
        <td>接受单位：</td>
        <td class="down_line">重庆环投再生资源有限公司</td>
        <td>&nbsp;</td>
        <td align="right">联系电话：</td>
        <td class="down_line"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="33" valign="bottom"><table width="100%" cellspacing="0" cellpadding="0" class="list">
      <tr>
        <td width="16%" class="list_title">废物名称</td>
        <td width="16%" class="list_title">类别编号</td>
        <td width="22%" class="list_title">主要有害成分</td>
        <td width="14%" class="list_title">数量（吨）</td>
        <td width="14%" class="list_title">形态</td>
        <td width="14%" class="no_border_right list_title">包装方式</td>
      </tr>
      
      	<tr>
      		<td>HW04-农药废物</td>
	        <td>263-003-04</td>
	        <td>废渣</td>
	        <td>0.5</td>
	        <td>液态</td>
	        <td class="no_border_right">金属桶装</td>
      	</tr>
   		<tr>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td class="no_border_right">&nbsp;</td>
        </tr>
   		<tr>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td class="no_border_right">&nbsp;</td>
        </tr>
   		<tr>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td class="no_border_right">&nbsp;</td>
        </tr>
   		<tr>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td class="no_border_right">&nbsp;</td>
        </tr>
   		<tr>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td class="no_border_right">&nbsp;</td>
        </tr>
      <tr>
        <td class="double_border_bottom">总&nbsp;&nbsp;计</td>
        <td colspan="5" class="double_border_bottom no_border_right">&nbsp;0.5吨</td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="bottom"><table width="100%" border="0" cellpadding="0" cellspacing="8" class="border_bottom">
      <tr>
        <td width="120">&nbsp;</td>
        <td width="80">&nbsp;</td>
        <td width="150">&nbsp;</td>
        <td width="65">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="right">责任人签字：</td>
        <td class="down_line">重庆市环保局测试员</td>
        <td align="right">单位盖章：</td>
        <td class="down_line" style="line-height:14px !important;">重庆市环境保护局</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="33" valign="bottom" class="title border_bottom">第二部分：危险废物运输单位填写</td>
  </tr>
  <tr>
    <td valign="bottom" class="border_bottom"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="info2">
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="65">运输单位：</td>
            <td width="250" class="down_line">重庆环投再生资源有限公司</td>
            <td width="65" align="right">联系电话：</td>
            <td width="150" class="down_line"></td>
             <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="65">起运时间：</td>
            <td width="60" class="down_line">2016</td>
            <td width="20">年</td>
            <td width="50" class="down_line">23</td>
            <td width="20">月</td>
            <td width="50" class="down_line">21</td>
            <td>日</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="65">起运地点：</td>
            <td width="200" class="down_line startAddress">&nbsp;</td>
            <td width="65" align="right">目的地点：</td>
            <td width="160" class="down_line endAddress">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="130">车（船）型号、牌照：</td>
            <td width="300" class="down_line">渝B12345</td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="10" cellpadding="0">
          <tr>
            <td width="200">&nbsp;</td>
            <td width="100">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td align="right">责任人签字盖章：</td>
            <td class="down_line">Jugg</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="33" valign="bottom" class="title border_bottom">第三部分：危险废物移接受位填写</td>
  </tr>
  <tr>
    <td valign="bottom"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="info2">
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="90" align="right">经营许可证号：</td>
            <td width="300" class="down_line">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="90" align="right">接受日期：</td>
            <td width="60" class="down_line">2016</td>
            <td width="20">年</td>
            <td width="50" class="down_line">12</td>
            <td width="20">月</td>
            <td width="50" class="down_line">21</td>
            <td>日</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td width="150">&nbsp;</td>
            <td width="80" align="right">责任人签字：</td>
            <td width="130" class="down_line">宝宝</td>
            <td width="65" align="right">单位盖章：</td>
            <td class="down_line">重庆龙瑞化工有限公司</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
<table class="info2">
  <tr>
  	<td width="30">注：</td>
    <td>1、运输、接受单位发现联单内容与实际情况不符时、有权拒绝运输、接受。</td>
  </tr>
  <tr>
  	<td></td>
    <td>2、此联单不能自制、复印。如需作废，须将废联单退回领取部门。</td>
  </tr>
  <tr>
  	<td></td>
    <td align="right" style="font-size:18px; height:30px; line-height:30px; font-weight:bold;">重庆市环境保护局印制</td>
  </tr>
</table>
</div>

<!-- 第二联 -->
<div class="paging">
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="30" colspan="3" align="center" style="font-size:20px; height:40px; line-height:40px; font-weight:bold;">重庆市危险废物转移联单</td>
  </tr>
  <tr>
    <td width="33%" height="33" valign="bottom">第&nbsp;二&nbsp;联：移出地环保局</td>
    <td width="33%" align="center" valign="bottom">纸质编号：</td>
    <td width="33%" align="right" valign="bottom">编号：2016082100001</td>
  </tr>
</table>
<table border="0" cellspacing="0" cellpadding="0" class="main_table">
  <tr>
    <td height="33" valign="bottom" class="border_bottom title">第一部分：危险废物移出单位填写</td>
  </tr>
  <tr>
    <td height="33" valign="bottom"><table width="100%" border="0" cellspacing="10" cellpadding="0">
      <tr>
        <td width="75">移出单位：</td>
        <td width="250" class="down_line">重庆市环境保护局</td>
        <td width="10">&nbsp;</td>
        <td width="75" align="right">联系电话：</td>
        <td class="down_line"></td>
      </tr>
      <tr>
        <td>接受单位：</td>
        <td class="down_line">重庆环投再生资源有限公司</td>
        <td>&nbsp;</td>
        <td align="right">联系电话：</td>
        <td class="down_line"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="33" valign="bottom"><table width="100%" cellspacing="0" cellpadding="0" class="list">
      <tr>
        <td width="16%" class="list_title">废物名称</td>
        <td width="16%" class="list_title">类别编号</td>
        <td width="22%" class="list_title">主要有害成分</td>
        <td width="14%" class="list_title">数量（吨）</td>
        <td width="14%" class="list_title">形态</td>
        <td width="14%" class="no_border_right list_title">包装方式</td>
      </tr>
      
      	<tr>
      		<td>HW04-农药废物</td>
	        <td>263-003-04</td>
	        <td>废渣</td>
	        <td>0.5</td>
	        <td>液态</td>
	        <td class="no_border_right">金属桶装</td>
      	</tr>
   		<tr>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td class="no_border_right">&nbsp;</td>
        </tr>
   		<tr>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td class="no_border_right">&nbsp;</td>
        </tr>
   		<tr>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td class="no_border_right">&nbsp;</td>
        </tr>
   		<tr>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td class="no_border_right">&nbsp;</td>
        </tr>
   		<tr>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td class="no_border_right">&nbsp;</td>
        </tr>
      <tr>
        <td class="double_border_bottom">总&nbsp;&nbsp;计</td>
        <td colspan="5" class="double_border_bottom no_border_right">&nbsp;0.5吨</td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="bottom"><table width="100%" border="0" cellpadding="0" cellspacing="8" class="border_bottom">
      <tr>
        <td width="120">&nbsp;</td>
        <td width="80">&nbsp;</td>
        <td width="150">&nbsp;</td>
        <td width="65">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="right">责任人签字：</td>
        <td class="down_line">重庆市环保局测试员</td>
        <td align="right">单位盖章：</td>
        <td class="down_line" style="line-height:14px !important;">重庆市环境保护局</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="33" valign="bottom" class="title border_bottom">第二部分：危险废物运输单位填写</td>
  </tr>
  <tr>
    <td valign="bottom" class="border_bottom"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="info2">
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="65">运输单位：</td>
            <td width="250" class="down_line">重庆环投再生资源有限公司</td>
            <td width="65" align="right">联系电话：</td>
            <td width="150" class="down_line"></td>
             <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="65">起运时间：</td>
            <td width="60" class="down_line">2016</td>
            <td width="20">年</td>
            <td width="50" class="down_line">23</td>
            <td width="20">月</td>
            <td width="50" class="down_line">21</td>
            <td>日</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="65">起运地点：</td>
            <td width="200" class="down_line startAddress">&nbsp;</td>
            <td width="65" align="right">目的地点：</td>
            <td width="160" class="down_line endAddress">&nbsp;</td>
            <td width="160" class="down_line">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="130">车（船）型号、牌照：</td>
            <td width="300" class="down_line">渝B12345</td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="10" cellpadding="0">
          <tr>
            <td width="200">&nbsp;</td>
            <td width="100">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td align="right">责任人签字盖章：</td>
            <td class="down_line">Jugg</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="33" valign="bottom" class="title border_bottom">第三部分：危险废物移接受位填写</td>
  </tr>
  <tr>
    <td valign="bottom"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="info2">
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="90" align="right">经营许可证号：</td>
            <td width="300" class="down_line">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="90" align="right">接受日期：</td>
            <td width="60" class="down_line">2016</td>
            <td width="20">年</td>
            <td width="50" class="down_line">12</td>
            <td width="20">月</td>
            <td width="50" class="down_line">21</td>
            <td>日</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td width="150">&nbsp;</td>
            <td width="80" align="right">责任人签字：</td>
            <td width="130" class="down_line">宝宝</td>
            <td width="65" align="right">单位盖章：</td>
            <td class="down_line">重庆龙瑞化工有限公司</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
<table class="info2">
  <tr>
  	<td width="30">注：</td>
    <td>1、运输、接受单位发现联单内容与实际情况不符时、有权拒绝运输、接受。</td>
  </tr>
  <tr>
  	<td></td>
    <td>2、此联单不能自制、复印。如需作废，须将废联单退回领取部门。</td>
  </tr>
  <tr>
  	<td></td>
    <td align="right" style="font-size:18px; height:30px; line-height:30px; font-weight:bold;">重庆市环境保护局印制</td>
  </tr>
</table>
</div>

<!-- 第三联 -->
<div class="paging">
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="30" colspan="3" align="center" style="font-size:20px; height:40px; line-height:40px; font-weight:bold;">重庆市危险废物转移联单</td>
  </tr>
  <tr>
    <td width="33%" height="33" valign="bottom">第&nbsp;三&nbsp;联：接受单位</td>
    <td width="33%" align="center" valign="bottom">纸质编号：</td>
    <td width="33%" align="right" valign="bottom">编号：2016082100001</td>
  </tr>
</table>
<table border="0" cellspacing="0" cellpadding="0" class="main_table">
  <tr>
    <td height="33" valign="bottom" class="border_bottom title">第一部分：危险废物移出单位填写</td>
  </tr>
  <tr>
    <td height="33" valign="bottom"><table width="100%" border="0" cellspacing="10" cellpadding="0">
      <tr>
        <td width="75">移出单位：</td>
        <td width="250" class="down_line">重庆市环境保护局</td>
        <td width="10">&nbsp;</td>
        <td width="75" align="right">联系电话：</td>
        <td class="down_line"></td>
      </tr>
      <tr>
        <td>接受单位：</td>
        <td class="down_line">重庆环投再生资源有限公司</td>
        <td>&nbsp;</td>
        <td align="right">联系电话：</td>
        <td class="down_line"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="33" valign="bottom"><table width="100%" cellspacing="0" cellpadding="0" class="list">
      <tr>
        <td width="16%" class="list_title">废物名称</td>
        <td width="16%" class="list_title">类别编号</td>
        <td width="22%" class="list_title">主要有害成分</td>
        <td width="14%" class="list_title">数量（吨）</td>
        <td width="14%" class="list_title">形态</td>
        <td width="14%" class="no_border_right list_title">包装方式</td>
      </tr>
      
      	<tr>
      		<td>HW04-农药废物</td>
	        <td>263-003-04</td>
	        <td>废渣</td>
	        <td>0.5</td>
	        <td>液态</td>
	        <td class="no_border_right">金属桶装</td>
      	</tr>
   		<tr>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td class="no_border_right">&nbsp;</td>
        </tr>
   		<tr>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td class="no_border_right">&nbsp;</td>
        </tr>
   		<tr>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td class="no_border_right">&nbsp;</td>
        </tr>
   		<tr>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td class="no_border_right">&nbsp;</td>
        </tr>
   		<tr>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td class="no_border_right">&nbsp;</td>
        </tr>
      <tr>
        <td class="double_border_bottom">总&nbsp;&nbsp;计</td>
        <td colspan="5" class="double_border_bottom no_border_right">&nbsp;0.5吨</td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="bottom"><table width="100%" border="0" cellpadding="0" cellspacing="8" class="border_bottom">
      <tr>
        <td width="120">&nbsp;</td>
        <td width="80">&nbsp;</td>
        <td width="150">&nbsp;</td>
        <td width="65">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="right">责任人签字：</td>
        <td class="down_line">重庆市环保局测试员</td>
        <td align="right">单位盖章：</td>
        <td class="down_line" style="line-height:14px !important;">重庆市环境保护局</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="33" valign="bottom" class="title border_bottom">第二部分：危险废物运输单位填写</td>
  </tr>
  <tr>
    <td valign="bottom" class="border_bottom"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="info2">
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="65">运输单位：</td>
            <td width="250" class="down_line">重庆环投再生资源有限公司</td>
            <td width="65" align="right">联系电话：</td>
            <td width="150" class="down_line"></td>
             <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="65">起运时间：</td>
            <td width="60" class="down_line">2016</td>
            <td width="20">年</td>
            <td width="50" class="down_line">23</td>
            <td width="20">月</td>
            <td width="50" class="down_line">21</td>
            <td>日</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="65">起运地点：</td>
            <td width="200" class="down_line startAddress">&nbsp;</td>
            <td width="65" align="right">目的地点：</td>
            <td width="160" class="down_line endAddress">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="130">车（船）型号、牌照：</td>
            <td width="300" class="down_line">渝B12345</td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="10" cellpadding="0">
          <tr>
            <td width="200">&nbsp;</td>
            <td width="100">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td align="right">责任人签字盖章：</td>
            <td class="down_line">Jugg</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="33" valign="bottom" class="title border_bottom">第三部分：危险废物移接受位填写</td>
  </tr>
  <tr>
    <td valign="bottom"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="info2">
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="90" align="right">经营许可证号：</td>
            <td width="300" class="down_line">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="90" align="right">接受日期：</td>
            <td width="60" class="down_line">2016</td>
            <td width="20">年</td>
            <td width="50" class="down_line">12</td>
            <td width="20">月</td>
            <td width="50" class="down_line">21</td>
            <td>日</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td width="150">&nbsp;</td>
            <td width="80" align="right">责任人签字：</td>
            <td width="130" class="down_line">宝宝</td>
            <td width="65" align="right">单位盖章：</td>
            <td class="down_line">重庆龙瑞化工有限公司</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
<table class="info2">
  <tr>
  	<td width="30">注：</td>
    <td>1、运输、接受单位发现联单内容与实际情况不符时、有权拒绝运输、接受。</td>
  </tr>
  <tr>
  	<td></td>
    <td>2、此联单不能自制、复印。如需作废，须将废联单退回领取部门。</td>
  </tr>
  <tr>
  	<td></td>
    <td align="right" style="font-size:18px; height:30px; line-height:30px; font-weight:bold;">重庆市环境保护局印制</td>
  </tr>
</table>
</div>

<!-- 第四联 -->
<div class="paging">
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="30" colspan="3" align="center" style="font-size:20px; height:40px; line-height:40px; font-weight:bold;">重庆市危险废物转移联单</td>
  </tr>
  <tr>
    <td width="33%" height="33" valign="bottom">第&nbsp;四&nbsp;联：接受地环保局</td>
    <td width="33%" align="center" valign="bottom">纸质编号：</td>
    <td width="33%" align="right" valign="bottom">编号：2016082100001</td>
  </tr>
</table>
<table border="0" cellspacing="0" cellpadding="0" class="main_table">
  <tr>
    <td height="33" valign="bottom" class="border_bottom title">第一部分：危险废物移出单位填写</td>
  </tr>
  <tr>
    <td height="33" valign="bottom"><table width="100%" border="0" cellspacing="10" cellpadding="0">
      <tr>
        <td width="75">移出单位：</td>
        <td width="250" class="down_line">重庆市环境保护局</td>
        <td width="10">&nbsp;</td>
        <td width="75" align="right">联系电话：</td>
        <td class="down_line"></td>
      </tr>
      <tr>
        <td>接受单位：</td>
        <td class="down_line">重庆环投再生资源有限公司</td>
        <td>&nbsp;</td>
        <td align="right">联系电话：</td>
        <td class="down_line"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="33" valign="bottom"><table width="100%" cellspacing="0" cellpadding="0" class="list">
      <tr>
        <td width="16%" class="list_title">废物名称</td>
        <td width="16%" class="list_title">类别编号</td>
        <td width="22%" class="list_title">主要有害成分</td>
        <td width="14%" class="list_title">数量（吨）</td>
        <td width="14%" class="list_title">形态</td>
        <td width="14%" class="no_border_right list_title">包装方式</td>
      </tr>
      
      	<tr>
      		<td>HW04-农药废物</td>
	        <td>263-003-04</td>
	        <td>废渣</td>
	        <td>0.5</td>
	        <td>液态</td>
	        <td class="no_border_right">金属桶装</td>
      	</tr>
   		<tr>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td class="no_border_right">&nbsp;</td>
        </tr>
   		<tr>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td class="no_border_right">&nbsp;</td>
        </tr>
   		<tr>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td class="no_border_right">&nbsp;</td>
        </tr>
   		<tr>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td class="no_border_right">&nbsp;</td>
        </tr>
   		<tr>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td class="no_border_right">&nbsp;</td>
        </tr>
      <tr>
        <td class="double_border_bottom">总&nbsp;&nbsp;计</td>
        <td colspan="5" class="double_border_bottom no_border_right">&nbsp;0.5吨</td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="bottom"><table width="100%" border="0" cellpadding="0" cellspacing="8" class="border_bottom">
      <tr>
        <td width="120">&nbsp;</td>
        <td width="80">&nbsp;</td>
        <td width="150">&nbsp;</td>
        <td width="65">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="right">责任人签字：</td>
        <td class="down_line">重庆市环保局测试员</td>
        <td align="right">单位盖章：</td>
        <td class="down_line" style="line-height:14px !important;">重庆市环境保护局</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="33" valign="bottom" class="title border_bottom">第二部分：危险废物运输单位填写</td>
  </tr>
  <tr>
    <td valign="bottom" class="border_bottom"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="info2">
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="65">运输单位：</td>
            <td width="250" class="down_line">重庆环投再生资源有限公司</td>
            <td width="65" align="right">联系电话：</td>
            <td width="150" class="down_line"></td>
             <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="65">起运时间：</td>
            <td width="60" class="down_line">2016</td>
            <td width="20">年</td>
            <td width="50" class="down_line">23</td>
            <td width="20">月</td>
            <td width="50" class="down_line">21</td>
            <td>日</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="65">起运地点：</td>
            <td width="200" class="down_line startAddress">&nbsp;</td>
            <td width="65" align="right">目的地点：</td>
            <td width="160" class="down_line endAddress">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="130">车（船）型号、牌照：</td>
            <td width="300" class="down_line">渝B12345</td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="10" cellpadding="0">
          <tr>
            <td width="200">&nbsp;</td>
            <td width="100">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td align="right">责任人签字盖章：</td>
            <td class="down_line">Jugg</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="33" valign="bottom" class="title border_bottom">第三部分：危险废物移接受位填写</td>
  </tr>
  <tr>
    <td valign="bottom"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="info2">
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="90" align="right">经营许可证号：</td>
            <td width="300" class="down_line">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="90" align="right">接受日期：</td>
            <td width="60" class="down_line">2016</td>
            <td width="20">年</td>
            <td width="50" class="down_line">12</td>
            <td width="20">月</td>
            <td width="50" class="down_line">21</td>
            <td>日</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td width="150">&nbsp;</td>
            <td width="80" align="right">责任人签字：</td>
            <td width="130" class="down_line">宝宝</td>
            <td width="65" align="right">单位盖章：</td>
            <td class="down_line">重庆龙瑞化工有限公司</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
<table class="info2">
  <tr>
  	<td width="30">注：</td>
    <td>1、运输、接受单位发现联单内容与实际情况不符时、有权拒绝运输、接受。</td>
  </tr>
  <tr>
  	<td></td>
    <td>2、此联单不能自制、复印。如需作废，须将废联单退回领取部门。</td>
  </tr>
  <tr>
  	<td></td>
    <td align="right" style="font-size:18px; height:30px; line-height:30px; font-weight:bold;">重庆市环境保护局印制</td>
  </tr>
</table>
</div>

<!-- 第五联 -->
<div class="paging">
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="30" colspan="3" align="center" style="font-size:20px; height:40px; line-height:40px; font-weight:bold;">重庆市危险废物转移联单</td>
  </tr>
  <tr>
    <td width="33%" height="33" valign="bottom">第&nbsp;五&nbsp;联：重庆市废物管理中心</td>
    <td width="33%" align="center" valign="bottom">纸质编号：</td>
    <td width="33%" align="right" valign="bottom">编号：2016082100001</td>
  </tr>
</table>
<table border="0" cellspacing="0" cellpadding="0" class="main_table">
  <tr>
    <td height="33" valign="bottom" class="border_bottom title">第一部分：危险废物移出单位填写</td>
  </tr>
  <tr>
    <td height="33" valign="bottom"><table width="100%" border="0" cellspacing="10" cellpadding="0">
      <tr>
        <td width="75">移出单位：</td>
        <td width="250" class="down_line">重庆市环境保护局</td>
        <td width="10">&nbsp;</td>
        <td width="75" align="right">联系电话：</td>
        <td class="down_line"></td>
      </tr>
      <tr>
        <td>接受单位：</td>
        <td class="down_line">重庆环投再生资源有限公司</td>
        <td>&nbsp;</td>
        <td align="right">联系电话：</td>
        <td class="down_line"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="33" valign="bottom"><table width="100%" cellspacing="0" cellpadding="0" class="list">
      <tr>
        <td width="16%" class="list_title">废物名称</td>
        <td width="16%" class="list_title">类别编号</td>
        <td width="22%" class="list_title">主要有害成分</td>
        <td width="14%" class="list_title">数量（吨）</td>
        <td width="14%" class="list_title">形态</td>
        <td width="14%" class="no_border_right list_title">包装方式</td>
      </tr>
      
      	<tr>
      		<td>HW04-农药废物</td>
	        <td>263-003-04</td>
	        <td>废渣</td>
	        <td>0.5</td>
	        <td>液态</td>
	        <td class="no_border_right">金属桶装</td>
      	</tr>
   		<tr>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td class="no_border_right">&nbsp;</td>
        </tr>
   		<tr>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td class="no_border_right">&nbsp;</td>
        </tr>
   		<tr>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td class="no_border_right">&nbsp;</td>
        </tr>
   		<tr>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td class="no_border_right">&nbsp;</td>
        </tr>
   		<tr>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td>&nbsp;</td>
	        <td class="no_border_right">&nbsp;</td>
        </tr>
      <tr>
        <td class="double_border_bottom">总&nbsp;&nbsp;计</td>
        <td colspan="5" class="double_border_bottom no_border_right">&nbsp;0.5吨</td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="bottom"><table width="100%" border="0" cellpadding="0" cellspacing="8" class="border_bottom">
      <tr>
        <td width="120">&nbsp;</td>
        <td width="80">&nbsp;</td>
        <td width="150">&nbsp;</td>
        <td width="65">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="right">责任人签字：</td>
        <td class="down_line">重庆市环保局测试员</td>
        <td align="right">单位盖章：</td>
        <td class="down_line" style="line-height:14px !important;">重庆市环境保护局</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="33" valign="bottom" class="title border_bottom">第二部分：危险废物运输单位填写</td>
  </tr>
  <tr>
    <td valign="bottom" class="border_bottom"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="info2">
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="65">运输单位：</td>
            <td width="250" class="down_line">重庆环投再生资源有限公司</td>
            <td width="65" align="right">联系电话：</td>
            <td width="150" class="down_line"></td>
             <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="65">起运时间：</td>
            <td width="60" class="down_line">2016</td>
            <td width="20">年</td>
            <td width="50" class="down_line">23</td>
            <td width="20">月</td>
            <td width="50" class="down_line">21</td>
            <td>日</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="65">起运地点：</td>
            <td width="200" class="down_line startAddress">&nbsp;</td>
            <td width="65" align="right">目的地点：</td>
            <td width="160" class="down_line endAddress">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="130">车（船）型号、牌照：</td>
            <td width="300" class="down_line">渝B12345</td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="10" cellpadding="0">
          <tr>
            <td width="200">&nbsp;</td>
            <td width="100">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td align="right">责任人签字盖章：</td>
            <td class="down_line">Jugg</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="33" valign="bottom" class="title border_bottom">第三部分：危险废物移接受位填写</td>
  </tr>
  <tr>
    <td valign="bottom"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="info2">
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="90" align="right">经营许可证号：</td>
            <td width="300" class="down_line">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td width="90" align="right">接受日期：</td>
            <td width="60" class="down_line">2016</td>
            <td width="20">年</td>
            <td width="50" class="down_line">12</td>
            <td width="20">月</td>
            <td width="50" class="down_line">21</td>
            <td>日</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td width="150">&nbsp;</td>
            <td width="80" align="right">责任人签字：</td>
            <td width="130" class="down_line">宝宝</td>
            <td width="65" align="right">单位盖章：</td>
            <td class="down_line">重庆龙瑞化工有限公司</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
<table class="info2">
  <tr>
  	<td width="30">注：</td>
    <td>1、运输、接受单位发现联单内容与实际情况不符时、有权拒绝运输、接受。</td>
  </tr>
  <tr>
  	<td></td>
    <td>2、此联单不能自制、复印。如需作废，须将废联单退回领取部门。</td>
  </tr>
  <tr>
  	<td></td>
    <td align="right" style="font-size:18px; height:30px; line-height:30px; font-weight:bold;">重庆市环境保护局印制</td>
  </tr>
</table>
</div>
</body>
</html>
