<!-- 头部 -->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>危废智能监管平台</title>
    <meta name="description" content="index"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="../../../static/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../../static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../../static/chosen/chosen.min.css"/>

    <!-- ace styles -->
    <link rel="stylesheet" href="../../../static/ace/css/ace.min.css" id="main-ace-style"/>
    <link rel="stylesheet" href="../../../static/ace/css/ace-skins.min.css"/>
    <link rel="stylesheet" href="../../../static/ace/css/ace-rtl.min.css"/>
    <link rel="stylesheet" href="../../../static/ztree/metro.css"/>
    <link rel="stylesheet" href="../../../static/validate/css/validform.css"/>
    <link rel="stylesheet" href="../../../static/css/custom.css"/>

    <!--[if !IE]> -->
    <script src="../../../static/jquery/jquery.js"></script>
    <!-- <![endif]-->
    <!-- ace settings handler -->
    <script src="../../../static/ace/js/ace-extra.min.js"></script>
</head>

<body class="no-skin" id="body-content">

<!-- 主体 -->
<div class="main-container" id="main-container">


    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">


            <ul class="tab" id="breadcrumb">
                <!-- <li class="active" >
               菜单配置<i class="fa fa-times close"></i>
               </li>  -->
            </ul><!-- /.breadcrumb -->
            <div id="tab-menu">
                <ul class="dropdown-menu dropdown-caret" style="min-width: 0px;">
                    <li><a href="javascript:void(0);" data-right-menu="all_close">全部关闭</a></li>
                    <li><a href="javascript:void(0);" data-right-menu="other_close">关闭其他</a></li>
                </ul>
            </div>
        </div>

        <div class="page-content">

            <div class="page-header">
                <h1> 超级管理员编辑 </h1>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="fill-main-content" style="height:100%">
                        <div class="xuboxPageHtml" id="xboxTest" style="overflow-y: auto; height: 457px;">
                            <div class="layer">
                                <form name="FormPost" id="sysuser-save" class="FormGrid" method="post"
                                      action="sysuser/save">

                                    <input type="hidden" value="2" name="id">
                                    <table class="EditTable" width="100%">
                                        <tbody>
                                        <tr class="FormData">
                                            <td class="CaptionTD">真实姓名</td>
                                            <td class="DataTD width-100"><input type="text" name="name" value="超级管理员"></td>
                                        </tr>
                                        <tr class="FormData">
                                            <td class="CaptionTD">登录名</td>
                                            <td class="DataTD">
                                                <input type="text" value="admin" name="username" datatype="*"
                                                       nullmsg="请输入登录名！">
                                            </td>
                                        </tr>
                                        <tr class="FormData">
                                            <td class="CaptionTD">密码</td>
                                            <td class="DataTD">
                                                <input type="password" value="" name="password" class="width-70">
                                                <span class="red">*不填写则不修改</span>
                                                <!-- datatype="*6-16" errormsg="密码范围在6~16位之间！" -->
                                            </td>
                                        </tr>
                                        <tr class="FormData">
                                            <td class="CaptionTD">归属机构</td>
                                            <td class="DataTD width-100">

                                                <div class="btn-group width-100" >
	<span data-toggle="dropdown" class="btn btn-primary btn-white dropdown-toggle width-100">
		<span id="pullDownTreeCurNamethree">危废智能监管平台</span> <i class="ace-icon fa fa-angle-down icon-on-right"></i>
	</span>

                                                    <div class="dropdown-menu dropdown-caret scrollable width-100 ace-scroll"
                                                         data-height="250">
                                                        <div class="scroll-track" style="display: none;">
                                                            <div class="scroll-bar"></div>
                                                        </div>
                                                        <div class="scroll-content" style="max-height: 250px;">
                                                            <div class="padding-15">
                                                                <div style="padding-bottom: 10px;">
                                                                    <input type="text" id="pullDownTreeSearchthree"
                                                                           placeholder="搜索" class="width-100">
                                                                </div>
                                                                <ul class="ztree" id="pullDownTreethree">
                                                                    <li id="pullDownTreethree_1" class="level0"
                                                                        tabindex="0" hidefocus="true" treenode=""><span
                                                                            id="pullDownTreethree_1_switch" title=""
                                                                            class="button level0 switch roots_docu"
                                                                            treenode_switch=""></span><a
                                                                            id="pullDownTreethree_1_a" class="level0"
                                                                            treenode_a="" onclick="" target="_blank"
                                                                            style="font-weight:normal;color:#333;"
                                                                            title="新注册用户默认机构"><span
                                                                            id="pullDownTreethree_1_ico" title=""
                                                                            treenode_ico="" class="button ico_docu"
                                                                            style=""></span><span
                                                                            id="pullDownTreethree_1_span">新注册用户默认机构</span></a>
                                                                    </li>
                                                                    <li id="pullDownTreethree_2" class="level0"
                                                                        tabindex="0" hidefocus="true" treenode=""><span
                                                                            id="pullDownTreethree_2_switch" title=""
                                                                            class="button level0 switch center_docu"
                                                                            treenode_switch=""></span><a
                                                                            id="pullDownTreethree_2_a" class="level0"
                                                                            treenode_a="" onclick="" target="_blank"
                                                                            style="font-weight:normal;color:#333;"
                                                                            title="重庆天志环保有限公司（长寿处置场）"><span
                                                                            id="pullDownTreethree_2_ico" title=""
                                                                            treenode_ico="" class="button ico_docu"
                                                                            style=""></span><span
                                                                            id="pullDownTreethree_2_span">重庆天志环保有限公司（长寿处置场）</span></a>
                                                                    </li>
                                                                    <li id="pullDownTreethree_3" class="level0"
                                                                        tabindex="0" hidefocus="true" treenode=""><span
                                                                            id="pullDownTreethree_3_switch" title=""
                                                                            class="button level0 switch center_docu"
                                                                            treenode_switch=""></span><a
                                                                            id="pullDownTreethree_3_a" class="level0"
                                                                            treenode_a="" onclick="" target="_blank"
                                                                            style="font-weight:normal;color:#333;"
                                                                            title="重庆天志环保有限公司（主城区处置场）"><span
                                                                            id="pullDownTreethree_3_ico" title=""
                                                                            treenode_ico="" class="button ico_docu"
                                                                            style=""></span><span
                                                                            id="pullDownTreethree_3_span">重庆天志环保有限公司（主城区处置场）</span></a>
                                                                    </li>
                                                                    <li id="pullDownTreethree_4" class="level0"
                                                                        tabindex="0" hidefocus="true" treenode=""><span
                                                                            id="pullDownTreethree_4_switch" title=""
                                                                            class="button level0 switch center_docu"
                                                                            treenode_switch=""></span><a
                                                                            id="pullDownTreethree_4_a" class="level0"
                                                                            treenode_a="" onclick="" target="_blank"
                                                                            style="font-weight:normal;color:#333;"
                                                                            title="重庆市万州区森浩污染物处置有限公司"><span
                                                                            id="pullDownTreethree_4_ico" title=""
                                                                            treenode_ico="" class="button ico_docu"
                                                                            style=""></span><span
                                                                            id="pullDownTreethree_4_span">重庆市万州区森浩污染物处置有限公司</span></a>
                                                                    </li>
                                                                    <li id="pullDownTreethree_5" class="level0"
                                                                        tabindex="0" hidefocus="true" treenode=""><span
                                                                            id="pullDownTreethree_5_switch" title=""
                                                                            class="button level0 switch center_docu"
                                                                            treenode_switch=""></span><a
                                                                            id="pullDownTreethree_5_a" class="level0"
                                                                            treenode_a="" onclick="" target="_blank"
                                                                            style="font-weight:normal;color:#333;"
                                                                            title="重庆同兴医疗废物处理有限公司"><span
                                                                            id="pullDownTreethree_5_ico" title=""
                                                                            treenode_ico="" class="button ico_docu"
                                                                            style=""></span><span
                                                                            id="pullDownTreethree_5_span">重庆同兴医疗废物处理有限公司</span></a>
                                                                    </li>
                                                                    <li id="pullDownTreethree_6" class="level0"
                                                                        tabindex="0" hidefocus="true" treenode=""><span
                                                                            id="pullDownTreethree_6_switch" title=""
                                                                            class="button level0 switch center_docu"
                                                                            treenode_switch=""></span><a
                                                                            id="pullDownTreethree_6_a" class="level0"
                                                                            treenode_a="" onclick="" target="_blank"
                                                                            style="font-weight:normal;color:#333;"
                                                                            title="重庆市涪陵固体废物处理中心"><span
                                                                            id="pullDownTreethree_6_ico" title=""
                                                                            treenode_ico="" class="button ico_docu"
                                                                            style=""></span><span
                                                                            id="pullDownTreethree_6_span">重庆市涪陵固体废物处理中心</span></a>
                                                                    </li>
                                                                    <li id="pullDownTreethree_7" class="level0"
                                                                        tabindex="0" hidefocus="true" treenode=""><span
                                                                            id="pullDownTreethree_7_switch" title=""
                                                                            class="button level0 switch center_docu"
                                                                            treenode_switch=""></span><a
                                                                            id="pullDownTreethree_7_a" class="level0"
                                                                            treenode_a="" onclick="" target="_blank"
                                                                            style="font-weight:normal;color:#333;"
                                                                            title="重庆华维实业有限责任公司"><span
                                                                            id="pullDownTreethree_7_ico" title=""
                                                                            treenode_ico="" class="button ico_docu"
                                                                            style=""></span><span
                                                                            id="pullDownTreethree_7_span">重庆华维实业有限责任公司</span></a>
                                                                    </li>
                                                                    <li id="pullDownTreethree_8" class="level0"
                                                                        tabindex="0" hidefocus="true" treenode=""><span
                                                                            id="pullDownTreethree_8_switch" title=""
                                                                            class="button level0 switch center_docu"
                                                                            treenode_switch=""></span><a
                                                                            id="pullDownTreethree_8_a" class="level0"
                                                                            treenode_a="" onclick="" target="_blank"
                                                                            style="font-weight:normal;color:#333;"
                                                                            title="重庆宏源实业有限公司"><span
                                                                            id="pullDownTreethree_8_ico" title=""
                                                                            treenode_ico="" class="button ico_docu"
                                                                            style=""></span><span
                                                                            id="pullDownTreethree_8_span">重庆宏源实业有限公司</span></a>
                                                                    </li>
                                                                    <li id="pullDownTreethree_9" class="level0"
                                                                        tabindex="0" hidefocus="true" treenode=""><span
                                                                            id="pullDownTreethree_9_switch" title=""
                                                                            class="button level0 switch center_docu"
                                                                            treenode_switch=""></span><a
                                                                            id="pullDownTreethree_9_a" class="level0"
                                                                            treenode_a="" onclick="" target="_blank"
                                                                            style="font-weight:normal;color:#333;"
                                                                            title="重庆龙健金属制造有限公司"><span
                                                                            id="pullDownTreethree_9_ico" title=""
                                                                            treenode_ico="" class="button ico_docu"
                                                                            style=""></span><span
                                                                            id="pullDownTreethree_9_span">重庆龙健金属制造有限公司</span></a>
                                                                    </li>
                                                                    
                                                                   
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="officeId" value="56"
                                                       id="pullDownTreeCurIdthree">
                                                <input type="hidden" name="" value="" id="pullDownTreeCurPidthree">
                                                <input type="hidden" name="" value="" id="pullDownTreeCurCidthree">

                                                
                                            </td>
                                        </tr>
                                        <tr class="FormData">
                                            <td class="CaptionTD">所属角色</td>
                                            <td class="DataTD width-100">
                                                <select name="roleIds" multiple="" class="chosen-select tag-input-style"
                                                        id="user-role-update" data-placeholder="选择角色"
                                                        style="display: none;">
                                                    <option value="1" selected="">
                                                        超级管理员
                                                        &nbsp;(危废智能监管平台)
                                                    </option>
                                                    <option value="2">
                                                        单位管理员
                                                        &nbsp;(危废智能监管平台)
                                                    </option>
                                                    <option value="24">
                                                        hawaste平台服务人员
                                                        &nbsp;(危废智能监管平台)
                                                    </option>
                                                    <option value="25">
                                                        监管方
                                                        &nbsp;(重庆市环境保护局)
                                                    </option>
                                                    <option value="26">
                                                        单位普通人员
                                                        &nbsp;(危废智能监管平台)
                                                    </option>
                                                    <option value="27">
                                                        测试运输方普通人员
                                                        &nbsp;(hawaste运输方测试机构)
                                                    </option>
                                                </select>
                                                <div class="chosen-container chosen-container-multi chosen-container-active"
                                                     style="width: 100%;" title="" id="user_role_update_chosen">
                                                    <ul class="chosen-choices">
                                                        <li class="search-field"><input onfocus="addC(this);" onblur="removeC(this);" type="text" value="选择角色"
                                                                                        class="default"
                                                                                        autocomplete="off"
                                                                                        style="width: 77px;"></li>
                                                    </ul>
                                                    <div class="chosen-drop">
                                                        <ul class="chosen-results">
                                                            <li class="active-result highlighted"
                                                                data-option-array-index="0">超级管理员 &nbsp;(危废智能监管平台)
                                                            </li>
                                                            <li class="active-result" data-option-array-index="1">单位管理员
                                                                &nbsp;(危废智能监管平台)
                                                            </li>
                                                            <li class="active-result" data-option-array-index="2">
                                                                hawaste平台服务人员 &nbsp;(危废智能监管平台)
                                                            </li>
                                                            <li class="active-result" data-option-array-index="3">监管方
                                                                &nbsp;(重庆市环境保护局)
                                                            </li>
                                                            <li class="active-result" data-option-array-index="4">单位普通人员
                                                                &nbsp;(危废智能监管平台)
                                                            </li>
                                                            <li class="active-result" data-option-array-index="5">
                                                                测试运输方普通人员 &nbsp;(hawaste运输方测试机构)
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                
                                            </td>
                                        </tr>
                                        <tr class="FormData">
                                            <td class="CaptionTD">电话</td>
                                            <td class="DataTD">
                                                <input type="text" value="" name="moblie">
                                            </td>
                                        </tr>
                                        <tr class="FormData">
                                            <td class="CaptionTD">手机</td>
                                            <td class="DataTD">
                                                <input type="text" value="" name="phone">
                                            </td>
                                        </tr>
                                        <tr class="FormData">
                                            <td class="CaptionTD">邮箱</td>
                                            <td class="DataTD">
                                                <input type="text" value="" name="email">
                                            </td>
                                        </tr>
                                        <tr class="FormData">
                                            <td class="CaptionTD">工号</td>
                                            <td class="DataTD">
                                                <input type="text" value="" name="no">
                                            </td>
                                        </tr>
                                        <tr class="FormData">
                                            <td class="CaptionTD">描述</td>
                                            <td class="DataTD">
                                                <textarea name="remarks" class="autosize-transition form-control "
                                                          style="resize: none; overflow: hidden; word-wrap: break-word; height: 52px;">管理员</textarea>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>

                            <div class="width-100 clearfix" tag-save-btn=""
                                 style="bottom: -36px; left: 0px; position: absolute;">
	<span class="btn btn-primary btn-sm bigger-110 width-50  pull-left" id="sysuser-save-save">
		<i class="ace-icon fa fa-floppy-o align-top bigger-125"></i> 确 定
	</span>
                                <span class="btn btn-yellow btn-sm bigger-110 width-50 pull-right"
                                      id="sysuser-save-cancel">
		<i class="ace-icon fa fa-times align-top  bigger-125"></i> 取 消
	</span>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div><!-- /.page-content -->

    </div><!-- /.main-content -->

    <a href="javascript:void(0);" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse" style="z-index:1111">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<!-- 底部 -->
<!-- basic scripts -->
<!-- 底部 -->
<!-- basic scripts -->
<script src="../../../static/bootstrap/bootstrap.min.js"></script>
<!-- ace scripts -->
<script src="../../../static/ace/js/ace-elements.min.js"></script>
<script src="../../../static/ace/js/ace.min.js"></script>
<script>
	function addC(obj){
		var classVal = document.getElementById("user_role_update_chosen").getAttribute("class");
		classVal = classVal.concat("chosen-with-drop");
		document.getElementById("user_role_update_chosen").setAttribute("class",classVal);
	}

	function removeC(obj) {
		var classVal = document.getElementById("user_role_update_chosen").getAttribute("class");
		classVal = classVal.replace("chosen-with-drop"," ");
		document.getElementById("user_role_update_chosen").setAttribute("class",classVal);
	}


	//描述框自动扩张高度
	$('textarea[class*=autosize]').autosize({append: "\n"});
	$("#user-role-update").chosen({width: "100%", search_contains: true});

    $(function(){
       
        $("#role-select").chosen({width: "80%",search_contains: true});
        $("#role-choose").chosen({width: "100%",search_contains: true});
    })


</script>

<!-- 引入其他js -->
<script src="../../../static/js/history.js"></script>
<script type="text/javascript" src="../../../static/layer/layer.js"></script>
<script type="text/javascript" src="../../../static/js/spin.min.js"></script>
<script type="text/javascript" src="../../../static/ztree/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript" src="../../../static/js/jquery.autosize.min.js"></script>
<script type="text/javascript" src="../../../static/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="../../../static/validate/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" src="../../../static/js/jquery.form.js"></script>
<script type="text/javascript" src="../../../static/js/bootstrap-contextmenu.js"></script>
<script type="text/javascript" src="../../../static/js/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="../../../static/js/public.js"></script>
<script type="text/javascript" src="../../../static/vue/vue.js"></script>
<script type="text/javascript" src="../../../static/vue/axios.js"></script>

<!--<script type="text/javascript" src="../../../static/js/office/office.js"></script>-->



</body>
</html>
