<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gec.hawaste.mapper.SysLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gec.hawaste.entity.SysLog">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="create_by" property="createBy" />
        <result column="create_date" property="createDate" />
        <result column="remote_addr" property="remoteAddr" />
        <result column="user_agent" property="userAgent" />
        <result column="request_uri" property="requestUri" />
        <result column="method" property="method" />
        <result column="params" property="params" />
        <result column="exception" property="exception" />
        <result column="description" property="description" />
    </resultMap>

</mapper>
